* 
{
    margin: 0;
    padding: 0;
    font-family:'Georgia', Georgia, serif;
}

h2
{
    color: #005587;
    position: relative;
    padding: 10px;
    font-size: xx-large;
}

.Dashboard .MainLogo
{
    position: relative;
    width: 20%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 10px;
    filter: drop-shadow(0px 2px 3px #AFAFAF)
}

.Dashboard .Title {
    margin: left;
    color: #005587;
    left: 575px;
    font-size: 40px;
    top: 140px;
}

.Dashboard input {
    position: relative;
    width: 500px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 20px;
    font-size: large;
    left: -200px;
    top: 10px;
    filter: drop-shadow(0px 2px 2px #2F2F2F)
}

.Dashboard button {
    position: relative;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.Dashboard .Search {
    position:relative;
    top: -40px;
    left: 270px;
    filter: drop-shadow(0px 2px 2px #2F2F2F)
}

.Dashboard .Create {
    position:relative;
    color: white;
    left: 285px;
    top: -56px;
    background-color: #005587;
    font-size: large;
    padding: 20px;
    line-height: 15px;
    filter: drop-shadow(0px 2px 2px #2F2F2F)
}
.Dashboard .AllProjects {
    position:relative;
    color: white;
    left: 300px;
    top: -56px;
    line-height: 15px;
    font-size: large;
    background-color: #005587;
    padding: 20px;
    filter: drop-shadow(0px 2px 2px #2F2F2F)
}

.Dashboard .ProjectList {
    font-family: 'Georgia', Georgia, serif;
}
